* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    white-space: 1px;
}

button {
    all: unset;
    padding: .75rem .75rem;
}

h1 {
    font-weight: 900;
}

/* ---helpers--- */
.flex {display: flex;}
.flex-col {flex-direction: column;}
.just-cont-space-between {justify-content: space-between;}
.just-cont-center {justify-content: center;}
.align-items-center {align-items: center;}
.flex-wrap {flex-wrap: wrap;}
.txt-white {color: #ffffff;}
.txt-black {color: #1e1919}
.txt-blue {color: #297afe}
.txt-grey {color: #d0d0d3}
.border-grey {border: 1px solid #d0d0d3}
.bg-white {background-color: #ffffff;}
.bg-blue {background-color: #297afe;}
.bg-black {background-color: #1e1919;}
.w20 {width: 20%;}
.w50 {width: 50%;}
.w100 {width: 100%;}
.h100 {height: 100%;}
.col33 {width: calc(100% / 3);}
.col30 {width: 30%;}
.col40 {width: 40%;}
.col60 {width: 60%;}
.col70 {width: 70%;}
.boxed-large {width: 60%; margin: auto}
.boxed-tight {width: 50%; margin: auto;}

/* header */

.nav-bar {
    height: 80px;
    position: sticky;
    padding: 0 1rem;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
}

.nav-bar ul li {
    padding: 0 1.25rem;
}




/* main */
section {
    padding-bottom: 10rem;
}

.jumbo, .free-trial-section {
    background-color: #b4d0e7;
    margin-bottom: 8rem;
    padding-bottom: 0;
}

.main-heading {
    font-size: 2.3rem;
    padding: 5rem 0 3rem;
}

.jumbo-img {
    width: 70%;
}

.jumbo-text p {
    margin-bottom: 2rem;
}

.jumbo-text button {
    margin-bottom: 4rem;
}

.jumbo-text i {
    font-size: 3rem;
    padding-top: 5rem;
}

h2 {
    font-size: 30px;
}

input[type="radio"] {
    margin: 4.375rem 0 2.5rem;
}

.business-plans > .col30 {
    min-height: 950px;
}

.business-plans .client-type {
    border-bottom: 1px solid #d0d0d3;
    text-align: center;
    padding: 5px;
}

.business-plans .plan-info {
    padding: 2.4rem 2rem;
}

.large-col {
    width: 100%;
    min-height: 256px;
    margin: 3rem 0;
}

.find-partner {
    min-height: 515px;
}

.find-partner .txt-box {
    padding: 3.5rem 3rem;
}

.business-feature {
    margin-bottom: 5rem;
}

.business-feature p {
    margin-top: 2.5rem;
    line-height: 20px;
    font-size: 15px;
}

.our-clients > div {
    height: 33vw;
    border: 1px solid red;
}

.our-clients img {
    display: block;
    width: 50%;
}

.our-clients > .client-review-box {
    overflow-y: auto;
}

.our-clients {
    padding-bottom: 0;
}

.free-trial-section > div {
    height: 360px;
}

.free-trial-section h2 {
    color: #61082b;
}


.faq {
    font-weight: bold;
    padding: 2.5rem;
    padding-left: 0;
}

.faq-box {
    margin-top: 4.25rem;
}

/* footer */

footer {
    min-height: 570px;
}

.footer-bar {
    padding: 6.5rem;
    border-bottom: #ffffff;
}

.footer-bar h3 {
    padding-bottom: 2.2rem;
}

.footer-bar div.flex-col p {
    padding-bottom: 1.2rem;
}

.footer-bar div.flex-col hr {
    width: 50%;
}

.footer-bar div.lang {
    padding-top: 7rem;
}