* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

button {
    all: unset;
    padding: .75rem .75rem;
    text-align: center;
    cursor: pointer;
}

h1 {
    font-weight: 900;
    font-size: 4.5rem;
    letter-spacing: 1px;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.375rem;
}

p, label, span, button {
    font-size: .9rem;
    line-height: 1.3rem;
}

a {
    all: unset;
}

a:hover {
    text-decoration: underline #297afe;
    cursor: pointer;
}

/* header */

.nav-bar {
    height: 80px;
    position: sticky;
    padding: 0 1rem;
    box-shadow: 1px 1px 2px 2px #d0d0d3;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    padding-left: 1.3rem;
}

.nav-bar ul li {
    padding: 0 1.25rem;
}

/* main */

section {
    padding-bottom: 7rem;
}

.jumbo {
    margin-bottom: 10rem;
    padding-bottom: 0;
}

.main-heading {
    font-size: 2.3rem;
    padding: 5rem 0 0;
}

.jumbo-container {
    position: relative;
    top: 5rem;
}

.jumbo-text {
    padding-bottom: 1.5rem;
}

.jumbo-text button {
    margin: 2.25rem 0;
}

.jumbo-text i {
    font-size: 3rem;
    padding-top: 3rem;
}

input[type="radio"] {
    appearance: none;
    border: 5px solid white;
    border-radius: 50%;
    outline: 3px solid white;
    box-shadow: 0 0 0px 4px grey;
    cursor: pointer;
    margin-right: 1rem;
}

.radio-buttons {
    margin: 4rem 1rem 4rem .5rem;
}

input[type="radio"]:checked {
    outline: 3px solid #297afe;
    border: 5px solid white;

}

input[type="radio"] + label {
    padding-right: 2.8rem;
}

.business-plans > .col30 {
    min-height: 950px;
}

.business-plans .client-type {
    border-bottom: 1px solid #d0d0d3;
    text-align: center;
    padding: .5rem;
}

.business-plans .plan-info {
    padding: 2.4rem 2rem;
}

.business-plans .col30:nth-last-of-type(1n+2) button {
    margin: 2rem 0 1rem;
}

.business-plans .plan-info p {
    padding: 0.8rem 0;
}

.client-type, .plan-info span {
    padding-bottom: 2rem;
}

.business-plans hr {
    width: 22%;
    margin: 3rem 0 3.5rem;
}

.business-plans h4 {
    margin-bottom: 1rem;
}

.large-col {
    width: 100%;
    min-height: 256px;
    margin: 3rem 0;
}

.find-partner .txt-box {
    padding: 3.5rem 3rem;
    gap: 1.5rem;
}

.find-partner button {
    border: 1px solid #222;
    width: 50%;
}

.business-features-wrapper {
    margin-top: 5.5rem;
}

.business-feature {
    margin-bottom: 5rem;
}

.business-feature p {
    margin-top: 2rem;
}

.find-more-link {
    padding: 4rem 0 2rem;
}

.our-clients .logo-side-box {
    width: 30vw;
    height: 30vw;
}

.our-clients .client-review-box {
    width: calc(100% - 60vw);
    height: 30vw;
    overflow-y: auto;
    padding: 50px;
    gap: 3rem;
}

.our-clients img {
    display: block;
    width: 50%;
}

.our-clients {
    padding-bottom: 0;
}

.logo-side-box .box-shadowed {
    box-shadow: 0 0 0 1rem #ffffff99 inset;
}

.free-trial-section {
    padding: 8.75rem 0;
}

.free-trial-section h2 {
    color: #61082b;
    margin-top: 2.5rem;
}

.faq-section {
    padding: 10rem 0 9rem;
}

.faq {
    font-weight: bold;
    padding: 2.5rem;
    padding-left: 0;
    border-top: 1px solid #d0d0d3;    
}

.faq:last-child {
    border-bottom: 1px solid #d0d0d3;
}

.faq-box {
    margin-top: 4.25rem;
}

.hidden-answer {
    display: none;
    padding: 1rem 0;
}

.faq:hover + .hidden-answer {
    display: block;
}

.faq:hover i {
    transform: rotate(180deg);
    transition: 0.5s;
}

/* footer */



.footer-bar {
    padding: 6.5rem 0;
    border-bottom: #ffffff;
}

.footer-bar h3 {
    padding-bottom: 2.2rem;
}

.footer-bar div.flex-col p {
    padding-bottom: 1.2rem;
}

.footer-bar hr {
    width: 50%;
    margin: 7rem 0 4rem;
}

.footer-bar select {
    background: transparent;
    border: none;
}


